
body {  
  background-color:#696969;
  font-family: Arial, sans-serif;
  margin: 5px;
}

h2 {
  color: #DCDCDC;
}

label {
	
  display: block;
  margin-top: 10px;
}

input,
select{
	width:800px;
    height: 50px;
	font-size: 15px;
	background-color:rgb(31, 31, 31);
	border:none;
	color:white;
	margin:3px;	
}

button {
	width: 150px;
    height: 50px;
	font-size: 15px;
	background-color:rgb(31, 31, 31);
	border:none;
	color:white;
	margin:3px;
	border-radius:15px;
	cursor: pointer;
}

button:hover {
	transform: scale(1.1);
	transition: all 0.5s;
	box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan,
	0 0 100px cyan, 0 0 200px cyan, 0 0 400px cyan;
}
.degrade{
	background-image: black;
	height:92vh;
	color: white;
	font-family:Comic Sans Ms;
	text-align:center;
}	

.container{
  max-width: 500px;
  margin: 0 auto;
  text-align:center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
}

.outer-container {
	width:800px;
	margin: 0 auto;
	text-align:center;
    background: rgb(31, 31, 31); /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
	border-radius: 10px; /* Valor do raio do arredondamento */
    overflow: hidden; /* Garante que as bordas arredondadas se apliquem corretamente */
}

.conversorMoedas{
	position:absolute;
	background-color: black;
	top: 50%;
	left:50%;
	transform:translate(-50%,-50%);
	border-radius:15px;
	padding:15px;
}

.result-container{
	margin-top: 20px;
	background-color: wait;
	padding: 0px;
	border-radius: 5px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align:center !important;
}

footer {
    background: #2c2045;
    color: #ffffff;
    padding: 10px;
    text-align: center;
	border-radius:10px;
}
a:visited {
    color: darkgrey;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.social-icons a {
    color: white;
    font-size: 40px;
    margin: 0 20px;
}

.social-icons a:hover {
    color: cyan; /* Ou a cor desejada para o hover */
}